node_modules/
public/assets/images/
public/assets/svgs/
public/bootstrap/
.idea/
.env
config/
controller/
docs/
downloads/
temps/
test/
memo.txt
package-lock.json
package.json
yarn-error.log
yarn.lock