extends admin_layout
block content
  h4 데이터 대량 등록
  form(method='POST', action='/admin/data/register_all')
    .form-group.d-flex.justify-content-start.text-nowrap
      label(style='margin:auto 1rem auto 0;') 엑셀파일 선택
      input.form-control(type='file', name='excelFile')
    .row
      .col
        button.btn.btn-primary(type='button', onclick='excelExport()') 등록하기
    //- .table-responsive.mt-3
    //-   table.table
    //-     thead
    //-       tr
    //-         th(scope='col') #
    //-         th(scope='col') 제목
    //-         th(scope='col') 단위
    //-         th(scope='col') 그래프유형
    //-         th(scope='col') 자료번호
    //-         th(scope='col') category
    //-         th(scope='col') region
    //-         th(scope='col') object
    //-         th(scope='col') description
    //-         th(scope='col') source
    //-     tbody#resultHTML

block append_js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js')
  script(src='/assets/js/comm_value.js')
  script(src='/assets/js/excel_upload.js')