extends admin_layout
block content
  h4 데이터 대량 등록
  form(method='POST', action='/admin/data/register_all')
    .form-group.d-flex.justify-content-start.text-nowrap
      label(style='margin:auto 1rem auto 0;') 엑셀파일 선택
      input.form-control(type='file', name='excelFile')
    .row
      .col
        button.btn.btn-lightblue(type='button', onclick='excelExport()') 등록하기
  #status_wrap.modal(style='background-color:rgba(0,0,0,0.5)')
    .row
      .col-3(style='margin:6rem auto;')
        .card
          .card-body
            .text-center
              p.m-0 Loading...
block append_js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js')
  script(src='/assets/js/comm_value.js')
  script(src='/assets/js/excel_upload.js')