extends layout
block content
	.container
		.bg-gradient-zhupao
			.container.text-center
				h1.text-white.font-weight-bold.py-5.m-0 CHINA INDUSTRY OVERVIEW
				h4.text-secondary.py-3.m-0 ALL INDUSTRIES AND RELATED SUB-INDUSTRIES
		.w-100.bg-gradient-primary
			.container
				h5.m-0.text-white.py-2 Home
		.container
			.row
				each item in category
					.col-4.mt-3
						.p-3(style='border:3px solid #aaa')
							h5.pb-3 #{item._id.name}
							each sub in item.list
								if(user_category.indexOf(sub.cate_id) > -1)
									a.d-block.font-weight-bold(href='/list/' + item._id.id + '/' + sub.cate_id) #{sub.cate_name}
								else
									a.d-block.font-weight-bold.text-secondary #{sub.cate_name}
block append_js
	script.
		console.log(!{JSON.stringify(category)});