extends layout
block content
	.container
		.bg-zhupao
			include nav
			.text-center
				h1.text-white.font-weight-bold.pt-3.pb-2.m-0(style='font-size:35px') CHINA INDUSTRY OVERVIEW
				h4.text-light.pt-3.pb-5.m-0 ALL INDUSTRIES AND RELATED SUB-INDUSTRIES
		.w-100.bg-lightblue
			.container
				h5.m-0.text-white.py-2 Home
		.row.pt-4
			each item in category
				.col-4.mt-3
					.p-3.category-wrap(style='border:1.5px solid rgb(209,209,209)')
						h5.pb-3.text-uppercase.font-weight-bold #{item._id.name}
						each sub in item.list
							if(user_category.indexOf(sub.cate_id) > -1)
								a.d-block(href='/list/' + item._id.id + '/' + sub.cate_id) #{sub.cate_name}
							else
								a.d-block.text-secondary #{sub.cate_name}
block append_js
	script.
		console.log(!{JSON.stringify(user)});
