script.
  if (confirm('고객님의 현재 계정으로 데이터베이스에 접근합니다. \n다른 기기(PC, Tablet PC 등)에서 현재 계정으로 접속 중인 경우에는 자동 종료됩니다.')) {
    location.href = '/session/this';
  }else{
    location.href = '/session/original';
  }